<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Vehicle</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2 class="my-4" >Update Vehicle</h2>
    <form th:action="@{'/vehicles/edit/' + ${vehicle.id}}" method="post">
        <input type="hidden" id="id" name="id" th:value="${vehicle.id}">

        <div class="form-group">
            <label for="name">Name:</label>
            <input style="width: 500px" type="text" class="form-control" id="name" name="name" th:value="${vehicle.name}" required>
        </div>
        <div class="form-group">
            <label for="model">Model:</label>
            <input style="width: 500px" type="text" class="form-control" id="model" name="model" th:value="${vehicle.model}" required>
        </div>
        <div class="form-group">
            <label for="year">Year of Manufacture:</label>
            <input style="width: 500px" type="text" class="form-control" id="year" name="yearOfManufacture" th:value="${vehicle.yearOfManufacture}" required>
        </div>
        <div class="form-group">
            <label for="color">Color:</label>
            <input style="width: 500px" type="text" class="form-control" id="color" name="color" th:value="${vehicle.color}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
</body>
</html>